<section class="bg-black h-screen  text-center relative overflow-hidden">

    <div class="z-30 relative h-full flex flex-col">
        <header>
        </header>

        <footer class= "flex flex-col flex-grow justify-end pb-20 ">
            <div class="gap-x-5 flex mx-auto">
                <a class="border-[3px] rounded font-medium px-16 py-2 inline-block text-sm text-white border-white
                hover:bg-white hover:text-black transition-colors backdrop-blur-sm " 
                   href="#">
                    Order Now
                </a>
                <a class="border-[2px] rounded font-medium px-16 py-2 inline-block text-sm text-white border-black
                bg-black hover:text-white transition-colors" 
                   href="#">
                    Learn More         
                </a>
            </div>

            
        </footer>
    </div>
    
    

    <div class="absolute top-0 bottom-0 h-full z-10">
        <img class="object-center object-cover h-full" 
            src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg" alt="Model 3">
    </div>
    
</section>