<section class="landing-section bg-black h-screen  text-center relative overflow-hidden"
data-header-color="black">

    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Model X</h2>
            <p class="text-black text-xl">From $68,590*</p>
            <p class="text-black text-xs">After Federal Tax Credit & Est. Gas Savings</p>
        </header>

        <footer class= "flex flex-col flex-grow justify-end pb-5 ">
            <div class="gap-x-5 flex mx-auto">
                <a class="border-[3px] rounded font-medium px-10 py-2 inline-block text-sm text-white border-white
                hover:bg-white hover:text-black transition-colors backdrop-blur-sm " 
                   href="#">
                    Explore Inventory
                </a>
                <a class="border-[2px] rounded font-medium px-16 py-2 inline-block text-sm text-black border-black
                hover:bg-black hover:text-white transition-colors backdrop-blur-sm" 
                   href="#">
                    Demo Drive         
                </a>
            </div>
            <div>
                <p class="text-xs text-white pt-8">*Price before incentives and savings is $79,990, excluding taxes and fees. Subject to change. </p>
                <a href="#" class="border-b border-white text-white text-xs">Learn about est. gas savings.</a>
            </div>
            
        </footer>
    </div>
    
    

    <div class="absolute top-0 bottom-0 h-full z-10">
        <img class="object-center object-cover h-full" 
            src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD" alt="Model 3">
    </div>
    
</section>