<section class="landing-section bg-black h-screen  text-center relative overflow-hidden"
data-header-color="white">

    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">Model 3</h2>
            <p class="text-white text-xl">Lease starting at $399/mo*</p>
        </header>

        <footer class= "flex flex-col flex-grow justify-end pb-5 ">
            <div class="gap-x-5 flex mx-auto">
                <a class="border-[3px] rounded font-medium px-10 py-2 inline-block text-sm text-white border-white
                hover:bg-white hover:text-black transition-colors backdrop-blur-sm " 
                   href="#">
                    Explore Inventory
                </a>
                <a class="border-[2px] rounded font-medium px-16 py-2 inline-block text-sm text-black border-black
                hover:bg-black hover:text-white transition-colors backdrop-blur-sm" 
                   href="#">
                    Demo Drive         
                </a>
            </div>
            <div>
                <p class="text-xs text-white pt-8">*Excludes taxes and fees with price subject to change. Available in select states. <a href="#" class="border-b border-white text-white">See Details</a></p>
            </div>
            
        </footer>
    </div>
    
    

    <div class="absolute top-0 bottom-0 h-full z-10">
        <img class="object-center object-cover h-full" 
            src="/public/desktop-img/Homepage-Model-3-Desktop-NA.jpg" alt="Model 3">
    </div>
    
</section>