<section class="landing-section bg-black h-screen  text-center relative overflow-hidden"
data-header-color="black">

    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">Solar Panels</h2>
            <a class="text-black text-sm border-b border-black transition-border ease-in-out duration-100 hover:border-b-2 hover:border-black cursor-pointer">Schedule a Virtual Consultation</a>
        </header>

        <footer class= "flex flex-col flex-grow justify-end pb-20 ">
            <div class="gap-x-5 flex mx-auto">
                <a class="border-[3px] rounded font-medium px-16 py-2 inline-block text-sm text-white border-white
                hover:bg-white hover:text-black transition-colors backdrop-blur-sm " 
                   href="#">
                    Order Now
                </a>
                <a class="border-[2px] rounded font-medium px-16 py-2 inline-block text-sm text-black border-black
                hover:bg-black hover:text-white transition-colors backdrop-blur-sm" 
                   href="#">
                    Learn More   
                </a>
            </div>

            
        </footer>
    </div>
    
    

    <div class="absolute top-0 bottom-0 h-full z-10">
        <img class="object-center object-cover h-full" 
            src="/public/desktop-img/425_HP_SolarPanels_D.avif" alt="Model 3">
    </div>
    
</section>